.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.about-section h2 {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    justify-self: center;
    font-family: "Source Sans Pro Semi-Bold";
    font-size: 3em;
}

.about-card {
    padding: 0 4rem;
    margin-bottom: 2rem;
}

/* Footer responsive styles */
@media screen and (max-width: 768px) {
    .footer {
        padding: 2rem 1rem;
    }

    .connect-with-us h2 {
        font-size: 2.2em;
    }

    .footer-first {
        flex-direction: column;
        align-items: center;
    }

    .footer-first nav {
        margin-top: 1.5rem;
    }

    .footer-first ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer-links {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }

    .footer-first div nav {
        margin-right: 0;
    }

    .footer-first .footer-logo-img img {
        max-width: 100%;
        height: 3rem;
        margin-left: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        padding: 1.5rem 0.5rem;
    }

    .connect-with-us h2 {
        font-size: 1.8em;
    }

    .connect-with-us .phone-span, 
    .connect-with-us .mail-span {
        font-size: 14px;
    }

    .footer-line {
        width: 90%;
        margin-top: 1.5rem;
    }

    .footer-first {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-first div nav {
        margin-right: 0rem;
    }

    .footer-first a img {
        height: 2em;
    }

    .footer-first ul {
        flex-direction: column;
        gap: 10px;
    }

    .footer-links {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        gap: 1.2rem;
    }

    .footer p {
        font-size: 10px;
        margin-top: 1.5rem;
    }
}